MONGO_CONNECTION_URL=
MONGO_TESTDB_CONNECTION_URL=mongodb://localhost:5006
MONGO_DB_NAME=penny-rfq-email-status-api

JWT_SECRET=
DEBUG_MODE=True
BACKEND_CORS_ORIGINS=["*"]
API_V1_STR=
PROJECT_NAME="Penny Sendgrid Mail Inbox"

SENDGRID_WEBHOOK_KEY=MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAETq9hHzmmCk0HKOIGFiWUwcvlTlgSuSchfrV9xaSO/8UfZFtvZb2erQjRr+zSYIa/ob+XC9fW9lVQZje5aNAaLQ==
SENDER_ALIAS=

#feature flags
ENABLE_AUTH_FEATURE=False
