MONGO_CONNECTION_URL=
MONGO_TESTDB_CONNECTION_URL=mongodb://localhost:5006
MONGO_DB_NAME=TestGrid-main

PORT=8000
JWT_SECRET=
ACCESS_TOKEN_EXPIRE_MINUTES=2880 # 2 days
API_KEYS=[]
DEBUG_MODE=True
BACKEND_CORS_ORIGINS=["*"]
API_V1_STR=/api/v1
PROJECT_NAME="TestGrid - Cloud-Based Load Testing & Penetration Testing Tool"

#feature flags
ENABLE_AUTH_FEATURE=True

CELERY_BROKER=
CELERY_RESULT_BACKEND=
CELERY_RESULT_BACKEND_DB=
CELERY_BACKEND_MONGO_TASK_META_DATA_COLLECTION_NAME=
FLOWER_API_BASE_URL=