@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #0867ff;
  --secondary: #c1ff00;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
.active {
  position: relative;
  padding-bottom: 10px;
  font-weight: bold;
}

@media only screen and (min-width: 1024px) {
  .leading-12 {
    line-height: 3rem !important;
  }
}
.header-shadow {
  box-shadow: 7px 7px #2a2a2a;
}
.btn-shadow {
  box-shadow: 2px 2px #2a2a2a;
}
.section-shadow {
  box-shadow: 3px 3px #0867ff;
}
.card-shadow {
  box-shadow: 5px 5px #0867ff;
}
.stroke {
  -webkit-text-stroke: 1px #2a2a2a;
}
